#technologies {
    position: relative;
    background-color: rgb(131, 205, 136);
}

#technologies-heading {
    font-size: 8vh;
    margin-top: 0.4em;
}

#technologies-subheading {
    font-size: 3vh;
    font-weight: 550;
    padding: 0 1em;
    height: 4%;
}

@media screen and (min-width: 600px){
    #technologies-heading {
        font-size: 9vh;
        height: 11%;
    }
}


@media screen and (max-width: 760px) and (min-height: 800px){
    #technologies-heading {
        margin-top: 0.6em;
        margin-bottom: 0.1em;
        font-size: 7vh;
        height: 7%;
    }
    #technologies-subheading {
        font-size: 3vh;
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 580px) and (min-height: 800px){
    #technologies-heading {
        font-size: 10vw;
        height: 7%;
        margin-bottom: 0;
    }
    #technologies-subheading {
        font-size: 5vw;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1100px) and (max-height: 500px) {
    #technologies-subheading {
        margin-bottom: 0%;
    }
}