#about {
    background-color: rgb(222, 119, 119);
    height: 100%;
    width: 100%;
    position: relative;
    align-content: center;
}

#about-heading {
    margin-bottom: 2%;
}

#about-body {
    width: 100%;
    height: 55%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    text-align: center;
    padding-bottom: 3em;
}

.about-text {
    font-size: 2.1vh;
    font-weight: 600;
    width: 100%;
    padding: 0 1em;
    margin: 0;
}

@media screen and (min-width: 350px) and (min-height: 700px){
    #about-heading {
        font-size: 7vh;
    }
    #about-body {
        height: 60%;
    }
    .about-text {
        font-size: 1.9vh;
    }
}

@media screen and (min-width: 600px){
    .about-text {
        font-size: 2.3vh;
    }
}

@media screen and (min-width: 500px) and (max-height: 500px){
    #about-body {
        height: 60%;
        margin-bottom: 5vh;
    }
    .about-text {
        font-size: 3vh;
    }
}

@media screen and (min-width: 800px){
    #about-heading {
        font-size: 10vh;
    }
    #about-body {
        margin-bottom: 0%;
    }
    .about-text {
        font-size: 4vh;
    }
}

@media screen and (min-width: 800px) and (min-height:400px) {
    #about-heading {
        font-size: 10vh;
    }
    #about-body {
        height: 75%;
        margin-bottom: 0%;
    }
    .about-text {
        font-size: 3vh;
    }
}

@media screen and (min-width: 1000px) and (min-height:400px) {
    .about-text {
        font-size: 3.5vh;
    }
}