.project-card {
    color: white;
    background-color: black;
    border-radius: 12%;
    min-width: 310px;
    max-width: 310px;
    height: 90%;
    margin: 2em 1em;
}

.project-card:hover {
    background-color: white;
    h3, p { 
        color: black;
    }
}

h3 {
    width: 100%;
    margin: 0.75em 0;
    text-align: center;
    font-size: 150%;
    color: white;
}

.project-image-preview {
    border-radius: 5%;
    height: 40%;
    object-fit: cover;
}

.project-description {
    width: 100%;
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 3vh;
}

h4 {
    width: 100%;
    height: 12%;
    text-align: center;
    font-size: 7vmin;
    margin: 0;
    color: white;
}

.modal-text-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5em;
    height: 75%;
    overflow: scroll;
}

.modal-text {
    width: 100%;
    color: white;
    line-height: 1.5;
    font-size: 1.9vmax;
    margin: 0 0 1em 0;
}

@media screen and (min-width: 700px) {
    h4 {
        font-size: 6.5vh;
    }
}

@media screen and (min-width: 660px) {
   .modal-text {
    font-size: 2.2vmin;
   } 
}

.modal-link {
    color: white;
}

.modal-link:hover {
    color: rgb(50, 176, 249);
    text-decoration: none;
}

.modal-button-area {
    display: flex;
    width: 100%;
    height: 11%;
    justify-content: center;
}

.modal-button {
    margin-top: 0.1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5%;
    border: solid 2px rgb(226, 62, 62);
    color: rgb(226, 62, 62);
    background-color: rgb(32, 32, 32);
    font-size: 4vh;
    font-weight: 800;
    padding: 0.2em 0.3em 0.3em;
}

.modal-button:hover {
    color: white;
    background-color: rgb(226, 62, 62);
}