.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    background-color: rgb(109, 104, 161);
    border-radius: 1rem;
    min-width: 320px;
    max-width: 320px;
    height: 90%;
    margin: 2em 1em;
    padding: 2em;
}

.project-card:hover {
    background-color: rgb(148, 147, 157);
    .project-card-title, p { 
        color: rgb(202, 202, 202);
    };
    img {
        filter: contrast(40%);
    };
    margin-top: 2em;
}

.project-card-title {
    width: 100%;
    margin: 0.75em 0;
    text-align: center;
    font-size: 14vh;
}

.project-image-preview {
    height: 0%;
    object-fit: scale-down;
}

.project-description {
    width: 100%;
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 0vh;
}

h4 {
    width: 100%;
    height: 12%;
    text-align: center;
    font-size: 7vmin;
    margin: 0;
}

.modal-text-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5em;
    height: 73%;
    overflow: scroll;
}

.modal-text {
    width: 100%;
    line-height: 1.5;
    font-size: 1.9vmax;
    margin: 0 0 1em 0;
}

.modal-tech-stack {
    width: 100%;
    margin: 0 0 1.1em 0;
    font-size: 2vmax;
    text-align: center;
    font-weight: 500;
}

.modal-link {
    color: white;
}

.modal-link:hover {
    color: rgb(50, 176, 249);
    text-decoration: none;
}

.modal-button-area {
    display: flex;
    width: 100%;
    height: 11%;
    justify-content: center;
}

.modal-button {
    margin-top: 0.1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 0.4rem;
    border: solid 2px rgb(226, 62, 62);
    color: rgb(226, 62, 62);
    background-color: rgb(32, 32, 32);
    font-size: 4vh;
    font-weight: 800;
    padding: 0.2em 0.3em 0.3em;
}

.modal-button:hover {
    color: white;
    background-color: rgb(226, 62, 62);
}

@media screen and (min-height: 200px){
    .project-card {
        border-radius: 2rem;
    };
    .project-card:hover {
        margin-top: 1em; 
    }
    .project-card-title {
        font-size: 11vh;
    }
}

@media screen and (min-height: 270px){
    .project-card-title {
        font-size: 8vh;
    }
    .project-image-preview {
        height: 80%;
    }
}

@media screen and (min-height: 360px){
    .project-card-title {
        font-size: 6vh;
    }
}

@media screen and (min-height: 450px){
    .project-card-title {
        font-size: 5vh;
    }
    .project-description {
        font-size: 2.5vmin;
        height: 20%;
        padding-top: 2em;
    }
}

@media screen and (min-height: 600px){
    .project-card-title {
        font-size: 4vh;
    }
    .project-description {
        padding-top: 0;
    }
    .modal-text-area {
        height: 75%;
    }
}

@media screen and (min-width: 660px) {
   .modal-text {
    font-size: 2.2vmin;
   } 
}

@media screen and (min-width: 700px) {
    h4 {
        font-size: 6.5vh;
    }
}

