#projects-buttons {
    display: inline-flex;
    height: 70vh;
    width: 100vw;
    align-items: center;
}

#projects-list {
    display: flex;
    height: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
    margin: 0 0.4em;
    align-items: center;
}

.scroll-button {
    background-color: transparent;
    border: none;
    color: rgb(226, 226, 226);
    font-size: 3rem;
    font-weight: 1000;
    height: 100%;
    width: 1em;
    padding-bottom: 0.2em;
}

.scroll-button:hover {
    color: rgb(194, 194, 194);
}