#projects-buttons {
    display: inline-flex;
    height: 40%;
    max-height: 1000px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}

#projects-list {
    display: flex;
    height: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
    margin: 0 0.4em;
    align-items: center;
}

@media screen and (min-height: 350px) {
    #projects-buttons {
        height: 60%;
        padding-bottom: 0;
    }
}

@media screen and (min-height: 525px) and (max-height:750px) and (max-width: 500px){
    #projects-buttons {
        height: 55%;
        padding-bottom: 3em;
    }
}